### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# (1) git add . (2)  git commit -m "the msg" (3) git push
#Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
playertotal = purchase_data["SN"].unique().size
pd.DataFrame({"Total Players":[playertotal]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#unique items
uniqueitems = purchase_data["Item ID"].unique().size
uniqueitems

179

In [4]:
#average price
avgprice = purchase_data["Price"].unique().mean()
avgprice
#format $

3.0322068965517244

In [5]:
#total number of purchases
totalpurchases = purchase_data["Purchase ID"].unique().size
totalpurchases

780

In [6]:
#total revenue
revenue = purchase_data["Price"].sum()
revenue
#format $

2379.77

In [7]:
#df
summary = pd.DataFrame([[uniqueitems,avgprice,totalpurchases,revenue]])
summary.columns = ['Number of Unique Items','Average Price','Total Purchases','Total Revenue']
summary

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179       3.032207              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
genderdf1 = purchase_data.loc[:, ["Gender", "SN", "Age"]]
genderdf = genderdf1.drop_duplicates()

#Percentage of Male Players ***GROUPBY ??**
males = purchase_data.loc[purchase_data["Gender"] == "Male"]
totalmales = len(males["SN"].unique())
malespercent = "{:.2f}%".format(totalmales / playertotal * 100)

#Percentage of Female Players
females = purchase_data.loc[purchase_data["Gender"] == "Female"]
totalfemales = len(females["SN"].unique())
femalespercent = "{:.2f}%".format(totalfemales / playertotal * 100)

#Percentage of Other / Non-Disclosed
others = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
totalothers = len(others["SN"].unique())
otherspercent = "{:.2f}%".format(totalothers / playertotal * 100)

#store values
gendercount = genderdf["Gender"].value_counts(0)
genderpercent = gendercount / playertotal * 100
genderpercent= genderpercent.map("{:,.2f}%".format)

#make df
genderdf = pd.DataFrame({"Total Count": gendercount,"Percentage of Players": genderpercent})
genderdf = genderdf.round(2)
genderdf

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
#DF using groupby with gender
gendergroup = purchase_data.groupby(["Gender"])
gendergroup.head()

genpurchasecount = round(gendergroup["Purchase ID"].count(), 2)

genavgpurchaseprice = round(gendergroup["Price"].mean(), 2)
genavgpurchaseprice = genavgpurchaseprice.map("${:,.2f}".format)

gentotalpurchasevalue = gendergroup["Price"].sum()

#---
genavgpurchasetotal = round(gentotalpurchasevalue / gendercount, 2)
genavgpurchasetotal = genavgpurchasetotal.map("${:,.2f}".format)
gentotalpurchasevalue = gentotalpurchasevalue.map("${:,.2f}".format)

genderdata = pd.DataFrame({"Purchase Count": genpurchasecount, "Average Purchase Price": genavgpurchaseprice, 
                            "Total Purchase Value": gentotalpurchasevalue, "Avg Total Purchase per Person": genavgpurchasetotal})


genderdata.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [52]:
#make bins then separate in df
bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
agegroups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

#grp_by_age_purchase_data_df = purchase_data_df
#grp_by_age_purchase_data_df["Age Summary"] = pd.cut(grp_by_age_purchase_data_df["Age"], age_bins, labels=group_names)
#grp_by_age_purchase_data_df
groupage = purchase_data
groupage["Age Ranges"] = pd.cut(groupage["Age"], bins, labels=agegroups)
groupage.head()

groupage1 = groupage.groupby("Age Ranges")
groupage1.count()

groupage2 = pd.DataFrame(groupage1.count())
groupage2

groupage2["Purchase ID"] = (groupage2["Purchase ID"]/playertotal)*100
groupage2

groupage3 = groupage2[["Purchase ID", "SN"]]
groupage3

groupage3 = groupage3.rename(columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
groupage3

groupage3["Percentage of Players"] = groupage3["Percentage of Players"].map("{:,.2f}%".format)
groupage3

           Percentage of Players  Total Count
Age Ranges
<10                        3.99%           23
10-14                      4.86%           28
15-19                     23.61%          136
20-24                     63.37%          365
25-29                     17.53%          101
30-34                     12.67%           73
35-39                      7.12%           41
>40                        2.26%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
# Let's work with data sorted by age new dataframe
#analysis_by_age_df = pd.DataFrame(grp_by_age_purchase_data_df["Purchase ID"].count())
#analysis_by_age_df
ageanalysis = pd.DataFrame(groupage1["Purchase ID"].count())
ageanalysis

ageavgpurchaseprice = groupage1["Price"].mean()
agetotalpurchasevalue = groupage1["Price"].sum()
ageavgtotalpurchasevalue = agetotalpurchasevalue / groupage1["Purchase ID"].count()

ageavgpurchaseprice = ageavgpurchaseprice.map("${:,.2f}".format)
agetotalpurchasevalue = agetotalpurchasevalue.map("${:,.2f}".format)
ageavgtotalpurchasevalue = ageavgtotalpurchasevalue.map("${:,.2f}".format)

ageanalysis["Average Purchase Price"] = ageavgpurchaseprice
ageanalysis["Total Purchase Value"] = agetotalpurchasevalue
ageanalysis["Avg Total Purchase per Person"] = ageavgtotalpurchasevalue

ageanalysis

,Purchase ID,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
>40,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [76]:
#Run basic calculations to obtain the results in the table below
spenders = pd.DataFrame(purchase_data)
spenders = purchase_data.groupby("SN")
spenders.count()

spenders1 = pd.DataFrame(spenders["Purchase ID"].count())
spenders1

spenderspurchasevalue = spenders["Price"].sum()
spendersavgprice = spenders["Price"].mean()

spenders1["Average Purchase Price"] = spendersavgprice
spenders1["Total Purchase Value"] = spenderspurchasevalue
spenders1

SUM_SN_purchased_data_df = analysis_by_SPENDOR_df.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_spendors_df=SUM_SN_purchased_data_df.sort_values("Total Purchase Value", ascending=False)
TOP5_spendors_df.head()
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

               Purchase ID  Average Purchase Price  Total Purchase Value
SN
Adairialis76             1                2.280000                  2.28
Adastirin33              1                4.480000                  4.48
Aeda94                   1                4.910000                  4.91
Aela59                   1                4.320000                  4.32
Aelaria33                1                1.790000                  1.79
...                    ...                     ...                   ...
Yathecal82               3                2.073333                  6.22
Yathedeu43               2                3.010000                  6.02
Yoishirrala98            1                4.580000                  4.58
Zhisrisu83               2                3.945000                  7.89
Zontibe81                3                2.676667                  8.03

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame